<h1>Welcome Seeker,</h1>
<p>[[Placeholder Intro]]</p>
<div id="FeaturedCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background: red; height: 200px;">
      <p>You</p>
    </div>
    <div class="carousel-item" style="background: yellow; height: 200px;">
      <p>Are</p>
    </div>
    <div class="carousel-item" style="background: blue; height: 200px;">
      <p>Alive???</p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#FeaturedCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only" aria-hidden="true">Previous</span>
  </a>
  <a class="carousel-control-next" href="#FeaturedCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only" aria-hidden="true">Next</span>
  </a>
</div>
