<div class="row">
  <div class="col-12">
    <h2 class="center-text">Projects</h2>
  </div>
</div>
<div class="row evenSpread">
  <div *ngFor="let project of projects" class="mt-3">
    <app-project-card [project]="project" class=""></app-project-card>
  </div>
</div>
<nav aria-label="Page navigation example" class="mt-3">
  <ul class="pagination justify-content-center">
    <li [ngClass]="{'disabled':page === 1}" class="page-item">
      <a class="page-link" (click)="decrementPageNumber()" tabindex="-1">Previous</a>
    </li>

    <li *ngFor="let page of generatePageArray()" class="page-item">
      <a class="page-link" (click)="setPageNumber(page)">{{page}}</a>
    </li>

    <li [ngClass]="{'disabled':page === totalPages}" class="page-item">
      <a class="page-link" (click)="incrementPageNumber()">Next</a>
    </li>
  </ul>
</nav>
