a{
  color: #111;
  :hover{
    text-underline: none;
  }
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  height: 90%;
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 6%
};

.container:hover .hoverImg {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}

.card {
  height: 8em;
  overflow: hidden;
  border-radius: 6%;
  width: 15em;
  padding: 5px;
}

.card-title {
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  font-weight: bold;
}

.image-background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-body {
  height: 100%;
  padding: 0.25rem;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
